{% extends "base.html" %}

{% block title %}Match History{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/history.css') }}">
{% endblock %}

{% block content %}
<h2>Match History</h2>

{% for match in matches %}
<p>
    Player 1: {{ match.player1 }} <br>
    Player 2: {{ match.player2 }} <br>
    Character 1: {{ match.character1 }} <br>
    Character 2: {{ match.character2 }} <br>
    Result: {{ match.result }} <br>
</p>
<hr>
{% endfor %}
{% endblock %}