{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="content-card">
    <h2 class="hero-title">🏰 Home Portal</h2>

    <p class="hero-text">
        Welcome to the Smash Player Portal. Track your matches, analyze your performance,
        and discover your strongest fighters.
    </p>


    <div class="hero-content">
        <img src="{{ url_for('static', filename='images/mario.png') }}"
            width="600" >
    

        <div class="hero-actions">
            {% if 'user_id' in session %}
            <a href="{{ url_for('add_match') }}" class="pretty-btn large-btn">
                🎮 Start New Match
            </a>

            <a href="{{ url_for('analytics') }}" class="pretty-btn large-btn">
                📊 Go to Analytics
            </a>
            {% else %}

            <a href="{{ url_for('login') }}" class="pretty-btn large-btn">
                🔑 Login
            </a>

            <a href="{{ url_for('signup') }}" class="pretty-btn large-btn">
                ✨ Sign Up
            </a>

        {% endif %}
        </div>
    </div>

        
    <h3 class="section-title">Choose Theme</h3>

    <div class="home-buttons">
        <a href="{{ url_for('home', theme='blue') }}" class="pretty-btn large-btn">
            Blue
        </a>

        <a href="{{ url_for('home', theme='purple') }}" class="pretty-btn large-btn">
            Purple
        </a>

        <a href="{{ url_for('home', theme='red') }}" class="pretty-btn large-btn">
            Red
        </a>
    </div>
</div>

<div class="actions-grid">
    <div class="feature-card">
        <h3 class="feature-title">Track Matches</h3>
        <p class="feature-text">
            Record every battle and keep a full history of your gameplay.
        </p>
    </div>

    <div class="feature-card">
        <h3 class="feature-title">Analyze Performance</h3>
        <p class="feature-text">
            Monitor your win rate and weekly performance trends.
        </p>
    </div>

    <div class="feature-card">
        <h3 class="feature-title">Find Your Main</h3>
        <p class="feature-text">
            Discover your most played character and improve your strategy.
        </p>
    </div>
</div>

{% endblock %}