{% extends "base.html" %}

{% block title %}Signup{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/signup.css') }}">
{% endblock %}

{% block content %}
<div class="card">
    <h2>Signup</h2>

    <form method="POST">
        <label>Username:</label>
        <input type="text" name="username">

        <label>Password:</label>
        <input type="password" name="password">

        <button type="submit">Sign Up</button>
    </form>
</div>
{% endblock %}